node_modules/
dist/
build/
.DS_Store
*.log
*.tmp
/.env
/.env.*
/.idea/
/.vscode/
frontend/.vite/
frontend/node_modules/
backend-go/bin/
backend-go/coverage/
backend-go/.air.toml
backend-go/.env*
backend-cpp/build/
backend-cpp/.vscode/
infra/.terraform/

